@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 10px;
  font-family: "Montserrat";
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EAEAEA;
}

.logo-link {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  text-decoration: none;
  color: #101010;
}
.logo-link:hover {
  text-decoration: none;
}

ins {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.header__container {
  margin-right: 69px;
  display: flex;
  align-items: center;
}
.header__order-block {
  display: flex;
  align-items: center;
}
.header__logo-link {
  margin: 15px 933px 15px 0;
}
.header__liked {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-right: 35px;
}
.header__liked-count {
  margin: -8px 0 0 -8px;
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 10px;
  background: #FFA542;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  color: #FFFFFF;
}
.header__basket {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.header__basket-count {
  margin: -5px 0 0 -9px;
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 10px;
  background: #FFA542;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  color: #FFFFFF;
}

.headphones__container {
  display: flex;
  flex-direction: column;
}
.headphones__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #838383;
}
.headphones__product-cards {
  max-width: 1150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 23px 0;
}

.headphones-wrls__container {
  display: flex;
  flex-direction: column;
}
.headphones-wrls__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #838383;
  margin: 0 10px 0 0;
}
.headphones-wrls__product-cards {
  margin: 0 10px 10px 0;
  max-width: 1150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  align-items: center;
  padding: 20px 148px 0 115px;
  height: 149px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  width: 1110px;
  background: #FFFFFF;
  border-radius: 30px 30px 0px 0px;
}
.footer__logo-link {
  margin: 35px 233px 90px 30px;
}
.footer__links-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 36px 153px 0 3px;
  max-height: 100px;
}
.footer__link {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.1rem;
  text-decoration: none;
  color: #000000;
  margin: 0 174px 11px 0;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__language-change {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}
.footer__language-icon {
  margin-right: 16px;
}
.footer__language {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #101010;
  margin-right: 17px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.footer__language:hover {
  color: #FFA542;
}
.footer__social-block {
  margin: 35px 0 89px 135px;
  display: flex;
  align-items: center;
}
.footer__social-link:not(:last-child) {
  margin-right: 15px;
}

.basket {
  padding: 0px 165px 0 92px;
}
.basket__container {
  display: flex;
  flex-direction: column;
}
.basket__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #1C1C27;
  margin: 6px 0 3px 46px;
}
.basket__order-block {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}
.basket__order-cards {
  display: flex;
  flex-direction: column;
  margin: 0 0 377px 43px;
}

.product-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  height: 407px;
  width: 350px;
  margin: 20px 30px 10px 0;
}
.product-card__img-container {
  display: flex;
  align-items: center;
  width: 219px;
  height: 237px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin: 16px 65px 0 65px;
}
.product-card__property {
  display: flex;
  flex-direction: row;
  margin: 53px 18px 27px 20px;
}
.product-card__name-rate {
  display: flex;
  flex-direction: column;
}
.product-card__product-name {
  width: 148px;
  margin: 0 0px 25px 2px;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #1C1C27;
}
.product-card__rate-block {
  display: flex;
  flex-direction: row;
}
.product-card__rate-icon {
  margin-right: 10px;
}
.product-card__rate-count {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #838383;
  margin-top: 2px;
}
.product-card__price-buy {
  margin-left: 92px;
  height: 65px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product-card__prices {
  display: flex;
  flex-direction: column;
  height: 37px;
  margin-bottom: 12px;
}
.product-card__price {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #FFA542;
  margin-bottom: 0.2px;
}
.product-card__old-price {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #FFCE7F;
  margin-bottom: 16px;
}
.product-card__buy-button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #000000;
  margin-right: 15px;
}

.order-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 633px;
  height: 218px;
  margin: 0 128px 30px 0;
  display: flex;
  flex-direction: column;
}
.order-card__property-block {
  height: 136px;
  display: flex;
  flex-direction: row;
  margin: 18px 28px 17px 19px;
}
.order-card__img {
  width: 146.53px;
  height: 136px;
  margin-right: 23px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.order-card__property {
  margin: 58px 0 0 0;
  width: 396px;
}
.order-card__tile {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #1C1C27;
  margin-bottom: 12px;
}
.order-card__price {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #AAAAAA;
}
.order-card__delete-icon {
  -o-object-fit: none;
     object-fit: none;
  margin-bottom: 118px;
}
.order-card__buttons-summ {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 28px 17px 16px;
}
.order-card__button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: #FFCE7F;
  font-weight: 400;
  font-size: 2.7rem;
  color: #FFFFFF;
}
.order-card__count {
  margin: 0 24px 0 24px;
  width: 20px;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  text-align: center;
}
.order-card__summ {
  width: 100px;
  margin-left: 350px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: right;
  color: #1C1C27;
}
.order-card__value {
  margin-left: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: right;
  color: #1C1C27;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 7px 4px 0 0px;
}
.total__price-block {
  width: 311px;
  margin: 21px 17px 0 17px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000000;
}
.total__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000000;
  margin-right: 200px;
}
.total__order-button {
  margin-top: 16px;
  width: 348px;
  height: 65px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background: #101010;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
}
.total__value {
  margin-right: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: right;
  color: #1C1C27;
}/*# sourceMappingURL=styles.css.map */